[Unit]
Description=My white list

[Service]
WorkingDirectory=/srv/www/whitelist/out
ExecStart=/usr/bin/dotnet /srv/www/whitelist/out/whitelist.dll
Restart=always
# Restart service after 10 seconds if the dotnet service crashes:
RestartSec=10
KillSignal=SIGINT
SyslogIdentifier=whitelist
User=root
Environment=ASPNETCORE_ENVIRONMENT=Production
Environment=DOTNET_PRINT_TELEMETRY_MESSAGE=false
Environment=ASPNETCORE_FORWARDEDHEADERS_ENABLED=true

[Install]
WantedBy=multi-user.target
